<h1>{{title}}</h1>

<md-card>
  <md-card-title>Add Trade</md-card-title>

  <md-card-content>
    <form class="example-form">
      <md-form-field>
        <input mdInput name="closedDate" placeholder="Closed date" [(ngModel)]="trade.closedDate">
      </md-form-field>
      <md-form-field>
        <input mdInput name="openedDate" placeholder="Opened date" [(ngModel)]="trade.openedDate">
      </md-form-field>
      <md-form-field>
        <input mdInput name="tradeType" placeholder="Trade type" [(ngModel)]="trade.type">
      </md-form-field>
      <md-form-field>
        <input mdInput name="bidAsk" placeholder="Bid / Ask" [(ngModel)]="trade.bidAsk">
      </md-form-field>
      <md-form-field>
        <input mdInput name="unitsFilled" placeholder="Units filled" [(ngModel)]="trade.unitsFilled">
      </md-form-field>
      <md-form-field>
        <input mdInput name="unitsTotal" placeholder="Units total" [(ngModel)]="trade.unitsTotal">
      </md-form-field>
      <md-form-field>
        <input mdInput name="actualRate" placeholder="Actual rate" [(ngModel)]="trade.actualRate">
      </md-form-field>
      <md-form-field>
        <input mdInput name="costProceeds" placeholder="Cost proceeds" [(ngModel)]="trade.costProceeds">
      </md-form-field>
    </form>
  </md-card-content>

  <md-card-actions layout="row" layout-align="end center">
    <button md-button (click)="addTrade()">Add</button>
  </md-card-actions>
</md-card>

<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="trades" [trackBy]="id">

    <ng-container mdColumnDef="id">
      <md-header-cell *mdHeaderCellDef> ID </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.id}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="openedDate">
      <md-header-cell *mdHeaderCellDef> Opened </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.openedDate | date}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="closedDate">
      <md-header-cell *mdHeaderCellDef> Closed </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.closedDate | date}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="type">
      <md-header-cell *mdHeaderCellDef> Type </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.type}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="bidAsk">
      <md-header-cell *mdHeaderCellDef> Bid/Ask </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.bidAsk}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="unitsFilled">
      <md-header-cell *mdHeaderCellDef> Units Filled </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.unitsFilled}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="unitsTotal">
      <md-header-cell *mdHeaderCellDef> Units Total </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.unitsTotal}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="actualRate">
      <md-header-cell *mdHeaderCellDef> Actual Rate </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.actualRate}} </md-cell>
    </ng-container>

    <ng-container mdColumnDef="costProceeds">
      <md-header-cell *mdHeaderCellDef> Cost Proceeds </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.costProceeds}} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>

  </md-table>
</div>