<h1>{{title}}</h1>

<div class="card mb-5">
  <div class="card-body">
    <h4 class="card-title">Trade</h4>

    <p class="card-text">Add a new trade</p>

    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="closedDate" class="col-form-label">Closed Date</label>
          <input type="closedDate" name="closedDate" class="form-control" id="closedDate" placeholder="Closed Date" [(ngModel)]="trade.closedDate">
        </div>
        <div class="form-group col-md-6">
          <label for="openedDate" class="col-form-label">Opened Date</label>
          <input type="openedDate" name="openedDate" class="form-control" id="openedDate" placeholder="Opened Date" [(ngModel)]="trade.openedDate">
        </div>
      </div>
      <div class="form-group">
        <label for="type" class="col-form-label">Type</label>
        <input type="text" name="type" class="form-control" id="type" placeholder="trade type" [(ngModel)]="trade.type">
      </div>
      <div class="form-group">
        <label for="bidAsk" class="col-form-label">Bid / Ask</label>
        <input type="text" name="bidAsk" class="form-control" id="bidAsk" placeholder="Bid / Ask" [(ngModel)]="trade.bidAsk">
      </div>
      <div class="form-group">
        <label for="unitsFilled" class="col-form-label">Units Filled</label>
        <input type="text" name="unitsFilled" class="form-control" id="unitsFilled" placeholder="Units Filled" [(ngModel)]="trade.unitsFilled">
      </div>
      <div class="form-group">
        <label for="unitsTotal" class="col-form-label">Units Total</label>
        <input type="text" name="unitsTotal" class="form-control" id="unitsTotal" placeholder="Units Total" [(ngModel)]="trade.unitsTotal">
      </div>
      <div class="form-group">
        <label for="actualRate" class="col-form-label">Actual Rate</label>
        <input type="text" name="actualRate" class="form-control" id="actualRate" placeholder="Actual Rate" [(ngModel)]="trade.actualRate">
      </div>
      <div class="form-group">
        <label for="costProceeds" class="col-form-label">Cost / Proceeds</label>
        <input type="text" name="costProceeds" class="form-control" id="costProceeds" placeholder="Cost Proceeds" [(ngModel)]="trade.costProceeds">
      </div>
      <button type="button" class="btn btn-primary" (click)="addTrade()">Add trade</button>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Trades</h4>

    <p class="card-text">list of trades</p>

    <table class="table table-sm table-responsive">
      <thead>
        <tr>
          <th>Closed Date</th>
          <th>Opened Date</th>
          <th>Type</th>
          <th>Bid / Ask</th>
          <th>Units Filled</th>
          <th>Units Total</th>
          <th>Actual Rate</th>
          <th>Cost / Proceeds</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trade of trades">
          <th scope="row">{{trade.closedDate | date}}</th>
          <td>{{trade.openedDate | date}}</td>
          <td>{{trade.type}}</td>
          <td>{{trade.bidAsk}}</td>
          <td>{{trade.unitsFilled}}</td>
          <td>{{trade.unitsTotal}}</td>
          <td>{{trade.actualRate}}</td>
          <td>{{trade.costProceeds}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>