.mat-card {
    margin-bottom: 20px;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  .create-trade {
    position: absolute;
    top: 14px;
    right: 13px;
}
.mat-table {
    overflow: auto;
    max-height: 500px;
  }