<h1>{{title}}</h1>

<mat-card>
  <mat-card-title>Add Trade</mat-card-title>

  <mat-card-content>
    <form class="example-form">
      <mat-form-field>
        <input matInput [matDatepicker]="openedDatePicker" [(ngModel)]="openedDate" name="openedDatePicker" placeholder="Closed date" [disabled]="inputDisabled">
        <mat-datepicker-toggle matSuffix [for]="openedDatePicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #openedDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="closedDatePicker" [(ngModel)]="closedDate" name="closedDatePicker" placeholder="Opened date">
        <mat-datepicker-toggle matSuffix [for]="closedDatePicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #closedDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput name="tradeType" placeholder="Trade type" [(ngModel)]="trade.type">
      </mat-form-field>
      <mat-form-field>
        <input matInput name="bidAsk" placeholder="Bid / Ask" [(ngModel)]="trade.bidAsk">
      </mat-form-field>
      <mat-form-field>
        <input matInput name="unitsFilled" placeholder="Units filled" [(ngModel)]="trade.unitsFilled">
      </mat-form-field>
      <mat-form-field>
        <input matInput name="unitsTotal" placeholder="Units total" [(ngModel)]="trade.unitsTotal">
      </mat-form-field>
      <mat-form-field>
        <input matInput name="actualRate" placeholder="Actual rate" [(ngModel)]="trade.actualRate">
      </mat-form-field>
      <mat-form-field>
        <input matInput name="costProceeds" placeholder="Cost proceeds" [(ngModel)]="trade.costProceeds">
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions layout="row" layout-align="end center">
    <button mat-button (click)="addTrade()">Add</button>
  </mat-card-actions>
</mat-card>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="trades" [trackBy]="id">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="openedDate">
      <mat-header-cell *matHeaderCellDef> Opened </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.openedDate | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="closedDate">
      <mat-header-cell *matHeaderCellDef> Closed </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.closedDate | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bidAsk">
      <mat-header-cell *matHeaderCellDef> Bid/Ask </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.bidAsk}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="unitsFilled">
      <mat-header-cell *matHeaderCellDef> Units Filled </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.unitsFilled}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="unitsTotal">
      <mat-header-cell *matHeaderCellDef> Units Total </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.unitsTotal}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actualRate">
      <mat-header-cell *matHeaderCellDef> Actual Rate </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.actualRate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="costProceeds">
      <mat-header-cell *matHeaderCellDef> Cost Proceeds </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.costProceeds}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>