body {
        text-align: center;
        font-family: "Dosis";
        padding: 0;
        margin: 0;
      }
      
      .grid-container {
        display: grid;
        grid-template-columns: 0.25fr auto;
        grid-template-rows: 100px auto 100px;
        height: 100vh; /*calc(100vh - 10px);*/
        width: 100wh; /*calc(100vh - 10px);*/
      }
      .grid-element {
        background-color: #444;
        color: #fff;
        padding: 20px;
        font-size: 2em;
      }
      
      .header {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background: #69F;
      }
      
      .sidebar {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background: #6F9;
      }

      nav {
        transition: transform .3s ease-in-out;
        min-width: 200px;
      }
      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      nav a {
        color: #F69;
      }
      
      .main {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background: #9F6;
      }
      
      .footer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        background: #F96;
      }  

      /* Desktop */
      @media only screen and (min-width: 600px) {
        .toggle {
          display: none;
        }
      }  

      /* Mobile */
      @media only screen and (max-width: 599px) {

        .grid-container {
          grid-template-columns: auto;
        }

        .main, .extra, .header, .footer{
          grid-column-start: 1;
          grid-column-end: 2;
        }
   }