.card {
    color: black;
    text-align: left;
}

img.card-img-top {
    text-align: center;
    background-image: url('/assets/bitcoin-logo-400x400.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

md-card {
    margin-bottom: 20px;
}