.card {
    color: black;
    text-align: left;
}

img.card-img-top {
    text-align: center;
    background-image: url('/assets/bitcoin-logo-400x400.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.create-wallet {
    position: absolute;
    top: 14px;
    right: 13px;
}

.wallets-grid {
    display: flex;
}

mat-card {
    margin-bottom: 20px;
    margin-right: 20px;
}

.delete-wallet{
    cursor: pointer;
}