<h1>Wallets</h1>

<div class="card mb-3">
    <img class="card-img-top" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">Create Wallet</h4>

        <p class="card-text">No keys are stored</p>

        <form>
            <div class="form-group">
                <label for="walletId">wallet id</label>
                <input type="text" name="walletId" class="form-control" id="walletId" aria-describedby="walletIdHelp" placeholder="Enter wallet id - automate"
                    [(ngModel)]="wallet.id">
            </div>
            <div class="form-group">
                <label for="walletName">Name</label>
                <input type="text" name="name" class="form-control" id="walletName" aria-describedby="walletNameHelp" placeholder="Enter wallet name"
                    [(ngModel)]="wallet.name">
            </div>
            <div class="form-group">
                <label for="walletUnits">Units</label>
                <input type="text" name="units" class="form-control" id="walletUnits" aria-describedby="walletUnitsHelp" placeholder="Enter wallet units"
                    [(ngModel)]="wallet.units">
            </div>
            <button type="button" class="btn btn-primary" (click)="addWallet()">Add</button>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Wallets</h4>

        <p class="card-text">list of wallets</p>

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Wallet Name</th>
                    <th>Units Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of wallets">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.units}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>