<div class="grid-container">

  <header class="grid-element header">
      <div class="toggle" (click)="toggleNav()">hamburger</div>
  </header>

  <nav class="grid-element sidebar" id="nav" >
    <ul>
      <li>
        <a href="#">Item 1</a>
      </li>
      <li>
        <a href="#">Item 2</a>
      </li>
      <li>
        <a href="#">Item 3</a>
      </li>
    </ul>
  </nav>

  <section class="grid-element main">.</section>

  <aside class="grid-element extra">.</aside>

  <footer class="grid-element footer">.</footer>

</div>