<nav>
  <ul>
    <li>
      <md-icon>home</md-icon>
      <a routerLink="/dashboard">dashboard</a>
    </li>
    <li>
      <md-icon>account_balance_wallet</md-icon>
      <a routerLink="/wallets">wallets</a>
    </li>
    <li>
      <md-icon>list</md-icon>
      <a routerLink="/trades">trades</a>
    </li>
    <li>
      <md-icon>cloud</md-icon>
      <a routerLink="/api">api</a>
    </li>
    <li>
      <md-icon>settings</md-icon>
      <a routerLink="/settings">settings</a>
    </li>
  </ul>
</nav>