<md-button-toggle-group vertical #group="mdButtonToggleGroup">
  <md-button-toggle routerLink="/dashboard" value="dashboard">
    <md-icon>home</md-icon>
    <div>Dashboard</div>
  </md-button-toggle>
  <md-button-toggle routerLink="/wallets" value="wallets">
    <md-icon>account_balance_wallet</md-icon>
    <div>Wallets</div>
  </md-button-toggle>
  <md-button-toggle routerLink="/trades" value="trades">
    <md-icon>list</md-icon>
    <div>Trades</div>
  </md-button-toggle>
  <md-button-toggle routerLink="/api" value="api">
    <md-icon>cloud</md-icon>
    <div>Api</div>
  </md-button-toggle>
  <md-button-toggle routerLink="/settings" value="settings">
    <md-icon>settings</md-icon>
    <div>Settings</div>
  </md-button-toggle>
</md-button-toggle-group>
