<ul>
  <li>
    <button md-button routerLink="/dashboard">
          <md-icon>home</md-icon>
          Dashboard
    </button>
  </li>
  <li>
    <button md-button routerLink="/wallets">
        <md-icon>account_balance_wallet</md-icon>
        Wallets
    </button>
  </li>
  <li>
    <button md-button routerLink="/trades">
        <md-icon>list</md-icon>
        Trades
    </button>
  </li>
  <li>
    <button md-button routerLink="/api">
        <md-icon>cloud</md-icon>
        Api
     </button>
  </li>
  <li>
    <button md-button routerLink="/settings">
        <md-icon>settings</md-icon>
        Settings
     </button>
  </li>
</ul>