.dashboard-grid{
    display: flex;
}

mat-card {
    /* background-color: #444; */
    /* color: #fff; */
    margin-bottom: 20px;
    margin-right: 20px;
}

mat-card.portfolio-grid-item {
    
}

mat-card.asset-grid-item {
   
}

mat-list-item {
    display: flex !important;
}